<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ' crossorigin='anonymous'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Home</title>
</head>
<body>
    <main>
        <div class="main-logo">
            <img src="static/img/logo_FFonly.png" alt="final fantasy logo">
        </div>
        <div class="game_links index">
            <ul >
                <!-- <li><a href="/view/Final Fantasy 01/Final Fantasy I">I</a></li> -->
                <!-- <li><a href="/view/Final Fantasy 02/Final Fantasy II">II</a></li> -->
                <!-- <li><a href="/view/Final Fantasy 03/Final Fantasy III">III</a></li> -->
                <li><a href="/view/Final Fantasy 04/Final Fantasy IV">IV</a></li>
                <li><a href="/view/Final Fantasy 05/Final Fantasy V">V</a></li>
                <li><a href="/view/Final Fantasy 06/Final Fantasy VI">VI</a></li>
                <li><a href="/view/Final Fantasy 07/Final Fantasy VII">VII</a></li>
                <li><a href="/view/Final Fantasy 08/Final Fantasy VIII">VIII</a></li>
                <li><a href="/view/Final Fantasy 09/Final Fantasy IX">IX</a></li>
                <li><a href="/view/Final Fantasy 10/Final Fantasy X">X</a></li>
                <li><a href="/view/Final Fantasy 12/Final Fantasy XII">XII</a></li>
                <li><a href="/view/Final Fantasy 13/Final Fantasy XIII">XIII</a></li>
                <li><a href="/view/Final Fantasy 15/Final Fantasy XV">XV</a></li>
            </ul>
        </div>
        <div class="series-description">
            <p>
                Final Fantasy is a fantasy anthology media franchise created by Hironobu Sakaguchi which is owned and developed and published by Square Enix (formerly Square). 
                The franchise centers on a series of fantasy role-playing video games. The first game in the series was released in 1987, with 16 numbered main entries having 
                been released to date. The franchise has since branched into other video game genres such as tactical role-playing, action role-playing, massively multiplayer 
                online role-playing, racing, third-person shooter, fighting, and rhythm, as well as branching into other media, including films, anime, manga, and novels.
                Final Fantasy is mostly an anthology series with primary installments being stand-alone role-playing games, each with different settings, plots and main characters; 
                however, the franchise is linked by several recurring elements, including game mechanics and recurring character names. Each plot centers on a particular group of heroes 
                who are battling a great evil, but also explores the characters' internal struggles and relationships. Character names are frequently derived from the history, languages, 
                pop culture, and mythologies of cultures worldwide. The mechanics of each game involve similar battle systems and maps. Final Fantasy has been both critically and 
                commercially successful. Several entries are regarded as some of the greatest video games, with the series selling more than 185 million copies worldwide, making it 
                one of the best-selling video game franchises of all time. The series is well known for its innovation, visuals, such as the inclusion of full-motion videos, photorealistic 
                character models, and music by Nobuo Uematsu. It has popularized many features now common in role-playing games, also popularizing the genre as a whole in markets outside 
                Japan.
            </p>
        </div>
    </main>
</body>
</html>