<div class="game_links">
    <ul >
        <li><a href="/">Home</a></li>
        <!-- <li><a href="/view/Final Fantasy 01/Final Fantasy I">I</a></li> -->
        <!-- <li><a href="/view/Final Fantasy 02/Final Fantasy II">II</a></li> -->
        <!-- <li><a href="/view/Final Fantasy 03/Final Fantasy III">III</a></li> -->
        <li><a href="/view/Final Fantasy 04/Final Fantasy IV">IV</a></li>
        <li><a href="/view/Final Fantasy 05/Final Fantasy V">V</a></li>
        <li><a href="/view/Final Fantasy 06/Final Fantasy VI">VI</a></li>
        <li><a href="/view/Final Fantasy 07/Final Fantasy VII">VII</a></li>
        <li><a href="/view/Final Fantasy 08/Final Fantasy VIII">VIII</a></li>
        <li><a href="/view/Final Fantasy 09/Final Fantasy IX">IX</a></li>
        <li><a href="/view/Final Fantasy 10/Final Fantasy X">X</a></li>
        <li><a href="/view/Final Fantasy 12/Final Fantasy XII">XII</a></li>
        <li><a href="/view/Final Fantasy 13/Final Fantasy XIII">XIII</a></li>
        <li><a href="/view/Final Fantasy 15/Final Fantasy XV">XV</a></li>
    </ul>
</div>
